/* your styles go here */

img {
  max-width:100%;
}

.main .cursive.main-logo {
  margin-top:10px;
}

@media (min-width: 1600px) {
  .main .mailing-list {
    margin-top: 40px;
  }
}
.main .mailing-list .mailing-list-heading {
  font-size:20px;
}
.main p.social a.github {
  background-color: #000;
}
.main p.social a.slack {
  background-color: #e1a749;
}
.main p.social a.twitter {
  background-color: #3cf;
}
.main p.social a.email {
  background-color: #4a7f45;
}

h1 {
  margin-bottom:0 !important;
}
h2 {
  margin-top:0 !important;
}
.container.body {
  margin-bottom:70px;
}
.footer {
  position:relative !important;
}
